<form [formGroup]="patientForm" class="grid grid-cols-1 md:grid-cols-2 gap-10">
  <section class="space-y-6">
    <h4
      class="text-primary font-bold text-sm flex items-center gap-2 uppercase tracking-wider"
    >
      <span class="w-1.5 h-6 bg-primary rounded-full"></span>
      Datos Obligatorios
    </h4>
    <div class="space-y-4">
      <div>
        <label class="block text-[11px] font-bold text-slate-500 mb-1.5 ml-1"
          >PRIMER NOMBRE*</label
        >
        <input
          class="glass-input-mandatory w-full"
          placeholder="Ej. Juan"
          type="text"
          formControlName="firstName"
        />
      </div>
      <div>
        <label class="block text-[11px] font-bold text-slate-500 mb-1.5 ml-1"
          >PRIMER APELLIDO*</label
        >
        <input
          class="glass-input-mandatory w-full"
          placeholder="Ej. Pérez"
          type="text"
          formControlName="lastName"
        />
      </div>
      <div>
        <label class="block text-[11px] font-bold text-slate-500 mb-1.5 ml-1"
          >CORREO ELECTRÓNICO*</label
        >
        <input
          class="glass-input-mandatory w-full"
          placeholder="usuario@km.com"
          type="email"
          formControlName="email"
        />
      </div>
      <div>
        <label class="block text-[11px] font-bold text-slate-500 mb-1.5 ml-1"
          >CONTRASEÑA*</label
        >
        <input
          class="glass-input-mandatory w-full"
          placeholder="••••••••"
          type="password"
          formControlName="password"
        />
      </div>
      <div>
        <label class="block text-[11px] font-bold text-slate-400 mb-1.5 ml-1"
          >NÚMERO DE CÉDULA*</label
        >
        <input
          class="glass-input-mandatory w-full"
          placeholder="ID Card"
          type="number"
          formControlName="documentNumber"
        />
      </div>
    </div>
  </section>
  <section class="space-y-6">
    <h4
      class="text-slate-400 font-bold text-sm flex items-center gap-2 uppercase tracking-wider"
    >
      <span class="w-1.5 h-6 bg-slate-200 rounded-full"></span>
      Datos Opcionales
    </h4>
    <div class="space-y-4">
      <div>
        <label class="block text-[11px] font-bold text-slate-400 mb-1.5 ml-1"
          >SEGUNDO NOMBRE</label
        >
        <input
          class="glass-input-optional w-full"
          placeholder="Ej. Antonio"
          type="text"
          formControlName="middleName"
        />
      </div>
      <div>
        <label class="block text-[11px] font-bold text-slate-500 mb-1.5 ml-1"
          >SEGUNDO APELLIDO</label
        >
        <input
          class="glass-input-optional w-full"
          placeholder="Ej. Rodríguez"
          type="text"
          formControlName="secondLastName"
        />
      </div>
      <div>
        <label class="block text-[11px] font-bold text-slate-400 mb-1.5 ml-1"
          >TELÉFONO CELULAR</label
        >
        <input
          class="glass-input-optional w-full"
          placeholder="+57 300 123 4567"
          type="number"
          formControlName="phone"
        />
      </div>
      <div>
        <label class="block text-[11px] font-bold text-slate-400 mb-1.5 ml-1"
          >DIRECCIÓN</label
        >
        <input
          class="glass-input-optional w-full"
          placeholder="Calle, Carrera..."
          type="text"
          formControlName="address"
        />
      </div>
      <div class="grid grid-cols-2 gap-3">
        <div>
          <label class="block text-[11px] font-bold text-slate-400 mb-1.5 ml-1"
            >BARRIO</label
          >
          <input
            class="glass-input-optional w-full"
            placeholder="Barrio"
            type="text"
            formControlName="neighborhood"
          />
        </div>
        <div>
          <label class="block text-[11px] font-bold text-slate-400 mb-1.5 ml-1"
            >COMUNA</label
          >
          <input
            class="glass-input-optional w-full"
            placeholder="Zona"
            type="number"
            formControlName="commune"
          />
        </div>
      </div>
    </div>
  </section>
</form>
