<header class="flex justify-between items-center mb-8 glass-panel px-6 py-4">
  <div>
    <h2 class="text-2xl font-bold text-primary">Dashboard Principal</h2>
    <p class="text-slate-500 text-sm">Resumen de actividad y gestión clínica</p>
  </div>
  <div class="flex items-center gap-4">
    <div class="flex items-center gap-3">
      <div class="text-right hidden sm:block">
        <p class="text-sm font-bold text-slate-800">
          {{ user?.firstName }} {{ user?.lastName }}
        </p>
        <p class="text-xs text-slate-500">
          {{
            user?.roles && user?.roles!.length > 0
              ? (user?.roles![0] | titlecase)
              : "Usuario"
          }}
        </p>
      </div>
      <div
        class="w-10 h-10 rounded-full bg-slate-200 border-2 border-white shadow-md overflow-hidden flex items-center justify-center"
      >
        @if (photoUrl) {
          <ng-container>
            <img
              [src]="photoUrl"
              alt="Profile"
              class="w-full h-full object-cover"
            />
          </ng-container>
        } @else {
          <ng-template>
            <span class="text-primary font-bold text-lg">{{ initials }}</span>
          </ng-template>
        }
      </div>
    </div>
  </div>
</header>
