<header class="flex justify-between items-center mb-8 glass-panel px-6 py-4">
  <div>
    <h2 class="text-2xl font-bold text-primary">Dashboard Principal</h2>
    <p class="text-slate-500 text-sm">Resumen de actividad y gestión clínica</p>
  </div>
  <div class="flex items-center gap-4">
    <div class="flex items-center gap-3">
      <div class="text-right hidden sm:block">
        <p class="text-sm font-bold text-slate-800">Dra. Camila Torres</p>
        <p class="text-xs text-slate-500">Administrador General</p>
      </div>
      <div
        class="w-10 h-10 rounded-full bg-slate-200 border-2 border-white shadow-md overflow-hidden"
      >
        <img
          alt="Profile"
          class="w-full h-full object-cover"
          src="https://lh3.googleusercontent.com/aida-public/AB6AXuCHEuz0eYU4zxvktEeq7bN-Fblclvyh0rPg02zxoUv-sRVd0xe8fqQiIFCHLz8tewVcsk6TdYtQrEICMt4wWk3TkaCGJ_8svwX6H2br4WFWEBuao0TNGsZWPCAsxCi_419zkg3yC37H6Kf6riM4dm0RVJc4Dret_6nnv5_B514CchyATtJnVDUGz-Zgx0f9SkxNyGVmPX4hf6h4qM6i3GQnrt1H0fto9zzi_wFbV_s2utE7xlSRWIxCNxyMqTtRTHjnjBStIpnLNno"
        />
      </div>
    </div>
  </div>
</header>
