<label
  class="block text-sm font-medium text-slate-700 dark:text-slate-300 mb-1"
>
  {{ label }}

  <div class="relative">
    @if (icon) {
      <div
        class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"
      >
        <span class="material-icons-round text-slate-400">
          {{ icon }}
        </span>
      </div>
    }
    <textarea
      [rows]="rows"
      [value]="value"
      [disabled]="disabled"
      [placeholder]="placeholder"
      [attr.maxlength]="maxLength"
      (input)="handleInput($event)"
      class="w-full rounded-lg border-slate-300 dark:border-slate-700 bg-slate-50 dark:bg-slate-800 text-slate-900 dark:text-white focus:ring-primary focus:border-primary p-4 resize-none"
      [class.pl-10]="icon"
      [class.border-red-500]="showError"
    ></textarea>
  </div>
</label>

@if (maxLength) {
  <div class="text-xs text-slate-500 mt-1 text-right">
    {{ currentLength }} / {{ maxLength }}
  </div>
}
